# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Node
node_modules
npm-debug.log

# Laravel
/vendor
.env*
.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
/storage/logs/*

# Cache
/bootstrap/cache/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Tests
/tests
phpunit.xml
.phpunit.result.cache

# Development
README.md
CHANGELOG.md